{{define "characters"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Characters</title>
</head>
<body>
    <form action="/characters" method="get">
        <label><input type="checkbox" name="tag" value="Male">Male</label>
        <label><input type="checkbox" name="tag" value="Female">Female</label>
        <label><input type="checkbox" name="tag" value="unknown">Unknown (Gender)</label>
        <label><input type="checkbox" name="tag" value="Human">Human</label>
        <label><input type="checkbox" name="tag" value="Alien">Alien</label>
        <label><input type="checkbox" name="tag" value="Dead">Dead</label>
        <label><input type="checkbox" name="tag" value="Alive">Alive</label>
        <label><input type="checkbox" name="tag" value="unknownstatus">Unknown (Status)</label>
        <button type="submit">Confirm</button>
    </form>
    {{range .Data}}
    <h1>{{.Name}}</h1>
    <p><strong>Status: </strong>{{.Status}}</p>
    <img src="{{.Image}}" alt="Character Image"/>
    {{end}}
    <a href="{{.Navigation.PagePrev}}">prev</a>
    <a href="{{.Navigation.PageNext}}">next</a>
</body>
<script src="static/assets/script.js"></script>
</html>
{{end}}
<!--&tag[]=Human-->
