{{define "cherche"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cherche Results</title>
</head>

<body>
    <h1>Cherche Results</h1>
    <form action="/cherche" method="get">
        <input type="text" name="query" placeholder="Enter your Search query...">
        <button type="submit">Search</button>
    </form>
    <div id="cherche-results">
        {{range .}}
            <p>{{.Name}}</p>
        {{end}}
    </div>
</body>

</html>

{{end}}